[Desktop Entry]
Categories=System;
Comment=Ryzen tdp GUI
Exec=/usr/bin/Ryzen_tdp_GUI
GenericName=Ryzen tdp GUI
Name=Ryzent tdp GUI
Path=/usr/bin
Icon=$HOME/.local/Ryzen_tdp_GUI/GUI/Ryzen_tdp_GUI_icon.png
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
